<!DOCTYPE html>
<html>

<head>

    <link href="tooltip.css" rel="stylesheet" />
    <link href="other.css" rel="stylesheet" />
    <link href="tables.css" rel="stylesheet" />

</head>

<body>



                  <h1>Data Analysis</h1>

                  <p>In this section, you will upload either a two-column file if you would like to compare two systems, or a one column file if you would like to perform prospective power analysis.</p>
                  
    <form>
<table class="table1">
    <tr>
        <td>
                  System File:
                 
                      </td>
        <td>
                 <div class="tooltip">?  <span class="tooltiptext">Upload a text file containing metrics comparing two systems. The file should have two colummns, one for each system.</span></div>
                 </td>
                       <td>
                      <input type="file" id="system_file" onchange="pressed()" name="system_file" style="display:none;" required/>
                      <a href="#" class="button1"><label for="system_file">Upload</label></a>
                             <label id="fileLabel" ></label>
                             </td>
                             </tr>
                                 
 <tr>
    <td>
                  Evaluation Unit Size:
          
                    </td>
                  <td>
                              <div class="tooltip">?  <span class="tooltiptext">This should be a whole number between one and the number of data points.</span></div>
                              </td>
                                    <td>
                  <input id="eval_unit_size" name="eval_unit_size"
                         type="number"
                         {% if eval_unit_size %}
                              value="{{ eval_unit_size }}"
                         {% else %}
                              value="1"
                         {% endif %}
                         class="form-control input-md" required="">
                            </td>
                            </tr>
                                
<tr>
   <td>
 
                  Evaluation Unit Metric:
           

                                </td>
                  <td>
 <div class="tooltip">?
                <span class="tooltiptext"> The metric to use as the representative value for each evaluation unit.
                  </span></div>
 </td>
       <td>
                  <input type="radio" name="target_statistic" id="target_statistic-0" value="mean" checked="checked"
                          {% if eval_unit_stat=="mean" %} checked="checked" {% else %} checked="checked"{% endif %}> Mean

 
 
 
                  <input type="radio" name="target_statistic" id="target_statistic-1" value="median"
                          {% if eval_unit_stat=="median" %} checked="checked" {% endif %}> Median

                                                      </td>
                                                      </tr>
                                                          
                          <tr>
                             <td>
                  Random Seed:
       
           
                                </td>
                  <td>
                      <div class="tooltip">?  <span class="tooltiptext">If you would like to provide a (real number) seed for random shuffling, enter it here.
                                   Otherwise, we will not shuffle.</span></div>
                      </td>
                            <td>
                  <input id="seed" name="seed" type="number" placeholder="Do not shuffle."
                          {% if shuffle_seed %} value="{{ shuffle_seed }}" {% endif %} step="1" class="form-control input-md">

                             </td>
                             </tr>
                                 
 <tr>
    <td>

                  Significance Level &alpha; (For Calculating Normality):
          
                                   </td>
                  <td>
                      <div class="tooltip">?  <span class="tooltiptext">A significance threshold value for the normality test. Default value is 0.5.</span> </div>
                      </td>
                            <td>
                  <input id="normality_alpha" name="normality_alpha" type="number" value="0.05" step="0.001"
                          {% if normality_alpha %} value="{{ normality_alpha }}" {% endif %}  class="form-control input-md">

          
</table>
<br>
<button onclick="$('#contentContainer').html('<div id=\'cover-spin\'></div>'); myAjaxSave();">Save</button>
  <button id="submit" name="submit" type=submit class="button1">Run</button> <span class="spinner">⌛</span>
  

</form>


<hr>
   <h1>Significance Testing</h1>
<hr>
  <h1>Effect Size Analysis</h1>
<hr>
  <h1>Power Analysis</h1>
  
  
  
  
  <!-- The Button!!! -->
  <label id='pdf-path'></label>
  <button id='print-pdf'>Convert to PDF</button>
  <button>Reset</button>
  <!-- Don't go beyond this -->

  <script>
    require('./renderer.js')
  </script>
  
  
  
  
  
</body>

</html>
