<!DOCTYPE html>
<html>

<head>

    <link href="{{ url_for('static', filename='modal.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='breadcrumbs.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tooltip.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='other.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tables.css')}}" rel="stylesheet" />

</head>

<script>
    // MODALS!
        var modals = ["about",  "settings", "download"];
        function make_modal(val){
            eval("var modal_" + val + " = document.getElementById(\"" + val +"\");");
            eval("var btn_" + val + " = document.getElementById(\"btn_" + val +"\");");
            // When the user clicks the button, open the modal
            eval("btn_" + val + ".onclick = function() { " + val + ".style.display = \"block\"; }");
            eval("close_btn_" + val + ".onclick = function() { modal_" + val + ".style.display = \"none\"; }");
        }
        modals.forEach(make_modal);
</script>

<script>
    // BREADCRUMBS!
        function openTab(evt, tabName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(tabName).style.display = "block";
              evt.currentTarget.className += " active";
            }
</script>

<script>
    // SUBMIT (NEEDS WORK)
        function da_submit_func() {
                console.log(document.getElementById('da_hidden').value);
                console.log("clicked DA submit!");
                
            }
</script>

<body>

    <div class="header">
        <h1>System Performance Calculator</h1>
    </div>

    <div class="top_bar">
        <button id="btn_about">About</button>
        <button id="btn_settings">Modify or Save/Restore Settings</button>
        <button id="btn_download">Download Report</button>
    </div>

    <div class="roundpurple">
        <ul class="breadcrumb">
            <li><button onclick="openTab(event, 'Data Analysis')">Data Analysis</button></li>
            <li><button onclick="openTab(event, 'Significance Test')">Significance</button></li>
            <li><button onclick="openTab(event, 'Effect Size')">Effect Size</button></li>
            <li><button onclick="openTab(event, 'Post-test Power Analysis')">Power Analysis</button></li>
        </ul>
    </div>

    <div id='Data Analysis' class="tabcontent" style="display:block">
        <!-- Data Analysis form -->
        <form action="/" class="form-horizontal" enctype="multipart/form-data" method="post">
            <!-- Begin Data Analysis div -->
            <div class="roundpurplebottom" style="position:relative; top: -18px;">
                <h2>Data and Parameters</h2>

                System File:
                <div class="tooltip">?
                    <span class="tooltiptext">"{{help1}}"</span></div>
                <input id="system_file" name="system_file" class="input-file" type="file" />

                <!--         <input type="file" id="system_file" name="system_file" style="display:none;" required/>
                        <a href="#" class="button"> Select: {{file_uploaded}}
                -->
                <br><br>

                <!-- Data Analysis: Evaluation Unit size-->
                Evaluation Unit Size:
                <div class="tooltip">?
                    <span class="tooltiptext">This should be a whole number between one and the number of data points.</span>
                </div>

                <input id="eval_unit_size" name="eval_unit_size" type="number" value="{{ eval_unit_size }}" class="form-control input-md" required="">

                <br><br>
                <!-- Data Analysis: Radio Buttons (mean, median)  -->

                Evaluation Unit Metric:
                <div class="tooltip">?
                    <span class="tooltiptext"> The metric to use for each evaluation unit.
                          <!-- "{{help2}}" -->
                      </span></div>

                <input type="radio" name="target_statistic" id="target_statistic-0" value="mean" {% if eval_unit_stat=="mean" %} checked="checked" {% endif %}> Mean

                <input type="radio" name="target_statistic" id="target_statistic-1" value="median" {% if eval_unit_stat=="median" %} checked="checked" {% endif %}> Median

                <br> <br>
                <!-- Data Analysis: seed-->

                Random Seed:
                <div class="tooltip">?
                    <span class="tooltiptext">If you would like to provide a (real number) seed for random shuffling, enter it here.
                      Otherwise, we will not shuffle.</span>
                </div>

                <input id="seed" name="seed" type="number" placeholder="don't shuffle" {% if shuffle_seed %} value="{{ shuffle_seed }}" {% endif %} step="1" class="form-control input-md">

                <br><br>
                <!-- Data Analysis Submit Button -->

                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <input type="hidden" id="da_hidden" value="hidden101">
                    <!-- Is type=submit implied by class="btn btn-success" -->
                    <button id="submit" name="submit" type=submit class="btn btn-success" onsubmit="document.getElementById('hidden1').style.borderColor = 'DarkSeaGreen'">Run</button>
                    <!-- Button for JS script-->
                    <!-- <a href=# id=process_input><button class='btn btn-default' >Submit via JS</button></a> -->
                </div>

            </div>
            <!-- end purple box -->
        </form>
        <!-- End data analysis form -->
        <!-- begin green results area -->
        <div class="roundgreen" class="hiddendiv" id="hidden1">

            <!-- SUMMARY STATISTICS -->
            <h2>{{ summary_str }}</h2>
            {% if summary_stats_dict|length %}
            <table>

                <tr>
                    <th>Score</th>
                    <th>mean</th>
                    <th>median</th>
                    <th>std_dev</th>
                    <th>min</th>
                    <th>max</th>
                </tr>

                {% for key, value in summary_stats_dict.items() %}

                <tr>
                    <!--
                                  <td> {{ key }} </td> <td>{{ value }}</td> -->
                    <td> {{ key }} </td>
                    {% for k, v in value.items() %}
                    <td>{{ v }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}

            <!-- RECOMMENDATION for test statistics -->
            <h2 id=teststat_heading align='left'>{{ teststat_heading }}</h2>
            {% if mean_or_median %}
            <b>Normality:</b>The data distribution {% if is_normal %} passes {% else %} does not pass {% endif %} the normality test.
            <p></p>
            <b>Skewness:</b> The data distribution {% if mean_or_median == 'median' %} exceeds {% else %} does not exceed {% endif %} the skew threshold.
            <p></p>
            <b>Test statistic:</b> Based on the skewness, the recommended test statistic to use is:
            <b>{{ mean_or_median }}</b> {% endif %}

            <!-- RECOMMENDATION for significance tests with REASONS -->
            <h2 id=sigtest_heading align='left'>
                {{ sigtest_heading }}</h2>
            {% if recommended_tests_reasons|length %}
            <table border=1>

                <tr>
                    <th>Test</th>
                    <th>Reason</th>
                </tr>

                {% for key, value in recommended_tests_reasons.items() %}
                <tr>
                    <td> {{ key }} </td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            <!-- (Bulleted list example) -->
            <!--
                       The following tests are recommended:
                       <ul>
                         {% for name in recommended_tests %}
                         <li> {{ name }} (Reason: {{ test_reason }})</li>
                         {% endfor %}
                       </ul>
                       -->

            <!-- Histogram Images -->
            {% if hist_score1 %}
                <img id=hist_score1 src="{{ url_for('send_img_file', image_path=hist_score1) }}?{{ rand }}">{% endif %}
            {% if hist_score2 %}
                <img id=hist_score2 src="../{{ url_for('send_img_file', image_path=hist_score2) }}?{{ rand }}"> {% endif %}
            {% if hist_diff %}
                <img id=hist_diff_par src="../{{ url_for('send_img_file', image_path=hist_diff_par) }}?{{ rand }}"> {% endif %}

        </div>
        <!-- end round green (data analysis) -->
    </div>
    <!-- End data analysis -->

    <div id='Significance Test' class="tabcontent" style="display:none">

        <div class="roundpurplebottom" style="position:relative; top: -18px;">

            <form action="/sig_test" class="form-horizontal" enctype="multipart/form-data" method="post">
                <!-- SIGNIFICANCE TEST RECOMMENDATION for test statistics -->
                <h2>{{ result_str }}</h2>
                {% if recommended_tests_reasons|length %}

                <table border=1>

                    <tr>
                        <th>Test</th>
                        <th>Reason</th>
                    </tr>

                    {% for key, value in recommended_tests_reasons.items() %}
                    <tr>
                        <td> {{ key }} </td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <!--<ul>

                                 {% for key, value in recommended_tests_reasons.items() %}
                            <li>{{ key }}
                                <div class="tooltip">?
                                    <span class="tooltiptext">{{ value }}</span>
                                </div>
                            </li>
                                 {% endfor %}

                        </ul> -->

                <!-- <h2>Choose the significance test to run</h2> -->
                <!-- radio button to choose test -->
                <br> {% for key, value in recommended_tests_reasons.items() %}

                <input type="radio" name="target_sig_test" id="target_sig_test-1" {% if sig_test_name %} {% if key==sig_test_name %} checked="checked" {% endif %} {% endif %} value={{ key }}> {{ key }}
                <div class="tooltip">?
                    <span class="tooltiptext">{{ value }}</span>
                </div>

                {% endfor %} {% endif %}
                <br> <br>

                <!-- SIGNIFICANCE alpha -->

                Significance level &alpha;:
                <div class="tooltip">?
                    <span class="tooltiptext">The significance level.</span>
                </div>

                <input id="significance_level" name="significance_level" type="number" {% if sig_alpha %} placeholder="{{ sig_alpha }}" value="{{ sig_alpha }}" {% else %} placeholder="0.00" {% endif %} class="form-control input-md" required="" step="0.01" min="0" max="1">

                <br> <br>
                <!-- Significance: Submit Button -->

                <input type="hidden" id="sa_hidden" value="hidden101">
                <!-- Is type=submit implied by class="btn btn-success" ? -->
                <input type="hidden" id="sig_tab_name" name="sig_tab_name" value="SignificanceTabHidden-2" />
                <button id="submit" name="submit" type=submit class="btn btn-success">Run</button>
                <!-- Button for JS script-->
                <!-- <a href=# id=process_input><button class='btn btn-default' >Submit via JS</button></a> -->

            </form>
            <!-- End Significance Test form -->
        </div>

        <div class="roundgreen" class="hiddendiv" id="hidden">
            {% if sig_test_stat_val %}
            <h2>Results</h2>
            <table border="1">
                <tr>
                    <th>test statistic/CI</th>
                    <td>{{ sig_test_stat_val }}
                        <!--1.65562-->
                    </td>
                </tr>
                <tr>
                    <th>p-value</th>
                    <td> {{ pval }}
                        <!--0.098585-->
                    </td>
                </tr>
                <tr>
                    <th>Reject H0</th>
                    <td>{{ rejectH0 }}</td>
                </tr>
            </table>
            {% endif %}
        </div>
        <!-- End Significance Test results div -->
    </div>
    <!-- end Significance Results Tab -->

    <div id='Effect Size' class="tabcontent" style="display:none">

        <div class="roundpurplebottom" style="position:relative; top: -18px;">
            <form action="/effectsize" class="form-horizontal" enctype="multipart/form-data" method="post">
                <!-- Effect Size list of tests -->
                {% if effect_size_estimators|length %}

                <table border=1>

                    <tr>
                        <th>Effect size estimator</th>
                        <th>Description</th>
                    </tr>

                    {% for key, value in effect_size_estimators.items() %}
                    <tr>
                        <td> {{ key }} </td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <!--<ul>

                                 {% for key, value in effect_size_estimators.items() %}
                            <li>{{ key }}
                                <div class="tooltip">?
                                    <span class="tooltiptext">{{ value }}</span>
                                </div>
                            </li>
                                 {% endfor %}

                        </ul> -->

                <!-- <h2>Choose the significance test to run</h2> -->
                <!-- radio button to choose test -->
                <br> {% for key, value in effect_size_estimators.items() %}

                <input type="radio" name="target_eff_test" id="target_eff_test-1"
                        {% if eff_estimator %} {% if key==eff_estimator %} checked="checked" {% endif %}
                        {% endif %} value={{ key }}> {{ key }}
                <div class="tooltip">?
                    <span class="tooltiptext">{{ value }}</span>
                </div>

                {% endfor %} {% endif %}
                <!-- Effect Size Multiple Radios (inline)  -->
                <!--
                <br><br> Target Statistic:

                <label class="radio-inline" for="target_statistic-0">
                    <input type="radio" name="effect_size_target_statistic" id="target_statistic-0" value="mean"
                           {%  if mean_or_median == 'mean' %}
                             checked="checked"
                           {% endif %}
                    >Mean
                 
                 
                    <input type="radio" name="effect_size_target_statistic" id="target_statistic-1" value="median"
                          {% if mean_or_median == 'median' %}
                            checked="checked"
                          {% endif %}
                    >Median
                    -->

              <br>    <br>
              <!-- effect size Submit Button -->
        
                    <input type="hidden" id="da_hidden" value="hidden101">
                    <!-- Is type=submit implied by class="btn btn-success" -->
                  <button id="ef_submit"
                          name="ef_submit"
                          type=submit
                          class="btn btn-success"
                          onsubmit="ef_submit_func()">Run</button>
                    <!-- Button for JS script-->
                    <!-- <a href=# id=process_input><button class='btn btn-default' >Submit via JS</button></a> -->
        
            </form>
        </div>
        <!-- end Effect Size purple input -->

        <div class="roundgreen" class="hiddendiv" id="hidden">
            <p></p>
                {% if eff_size_val %}
                <table border="1">
                 <tr><th>Estimator</th><th>Effect Size</th></tr>
                        <tr><td>{{ eff_estimator }}</td><td>{{ eff_size_val }}</td></tr>
                </table>
                {% endif %}


        </div>
    </div>

    <div id='Post-test Power Analysis' class="tabcontent" style="display:none">

        <div class="roundpurplebottom" style="position:relative; top: -18px;">

            <form action="/power" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group">

                <!-- Don't need this Effect Size textbox here, because it'd be for Pre-test power analysis -->
                <!--
                <label class="col-md-4 control-label" for="effect_size">Effect Size:</label>
                <div class="tooltip">?<span class="tooltiptext">"{{help1}}"</span></div>
                <div class="col-md-4">
                    <input id="effect_size" name="effect_size" type="number" placeholder="default" class="form-control input-md" required="">

                </div>
                -->

                <b>Choose power analysis method:</b><br>
                    <!-- TODO: Display advice that takes into account the
                     actual size of evaluation unit and the limits on min and max -->
                    <p>The evaluation unit size is {{ eval_unit_size }}.</p>
                <input type="radio" name="target_pow_test" id="target_sig_test-1"
                       {% if target_power_test == 'montecarlo' %}
                         checked="checked"
                       {% endif %}
                       value={{ 'montecarlo' }}>
                        Montecarlo (normal distribution required)
                    <div class="tooltip">? <!-- todo: use helper function for tooltip text -->
                        <span class="tooltiptext">Conduct retrospective power analysis using Montecarlo simulation.</span>
                    </div>

                <input type="radio" name="target_pow_test" id="target_sig_test-1"
                       value={{ 'bootstrap' }}>
                    Bootstrap
                <div class="tooltip">?  <!-- todo: use helper function for tooltip text -->
                    <span class="tooltiptext">Conduct retrospective power analysis using bootstrap simulation.</span>
                </div>
                    <br>
                    <br>
                    <p><b>Minimum sample size:</b> This is a value between 1 and the number of evaluation units</p>
                    <input id="start" name="start" type="number"
                       placeholder="Start" class="form-control input-md" value="30">
                                    <div class="tooltip">?<span class="tooltiptext">"lower bound on number of samples (minimum number of evaluation units)"</span> </div>
                <br/><br>
                    <p><b>Maximum sample size:</b> The number of evaluation units is the upper bound.</p>
                    <input id="start" name="start" type="number"
                       placeholder="Start" class="form-control input-md" value="30">
                                    <div class="tooltip">?<span class="tooltiptext">
                                        "upper bound on number of samples (max number of evaluation units)"</span> </div>
                <br/><br>
                    <p><b>Number of intervals:</b>
                        max 20 (50). used to specify the sample sizes at which to calculate power.</p>
                <input id="step_size" name="step_size" type="number" placeholder="Step Size"
                       class="form-control input-md" value="20">
                                    <div class="tooltip">?<span class="tooltiptext">
                                        "Step size for sample sizes at which to calculate power"</span> </div>

                <br> <br> Iterations Per Step: <!-- TODO: add required range like '1 to 200'-->
                <div class="tooltip">?<span class="tooltiptext">The number of iterations at each sample size.</span></div>

         
           <input id="iterations" name="iterations" type="number" placeholder="default" value="200"
                       class="form-control input-md">
                <br><br>
                <!-- Power Submit Button -->

             
                <button id="pa_submit" name="pa_submit" type=submit class="btn btn-success" onsubmit="pa_submit_func()">Run</button>

                </div>
            </form>
    </div>

    <div class="roundgreen" class="hiddendiv" id="hidden">
        <h2>Results:</h2>
            <!-- Images -->
            {% if power_file %}
                <img id=power_file src="../{{ url_for('send_img_file', image_path=power_file) }}?{{ rand }}"> {% endif %}
    </div>
    </div>

    <div id="about" class="modal">
        <div class="modal-content">
            <button id="close_btn_about">&#x2715;</button>
            <p>Copyright 2020 by AUTHORS. See our paper at LINK. This website is released under the LICENSE at LINK. LIST OF TECH USED AND THEIR LICENSES and CITATIONS.</p>

        </div>
    </div>

    <div id="settings" class="modal">
        <div class="modal-content">
            <button id="close_btn_settings">&#x2715;</button>
            <p>LIST OF SETTINGS ITEMS</p>
            <button id="yellow" onclick="document.getElementById('hidden1').style.borderColor = '#ffcc00'">Make Yellow</button>
            <button id="green" onclick="document.getElementById('hidden1').style.borderColor = 'DarkSeaGreen'">Make Green</button>
            <br><br>
            <button id="restore">Save Settings to File</button>
            <button id="save">Restore Settings from File</button>

        </div>
    </div>

    <div id="download" class="modal">
        <div class="modal-content">
            <button id="close_btn_download">&#x2715;</button>
            <p>
                <form action="{{ url_for('.download_file') }}" method="get" target="_blank">
                    <button type="submit">Download</button>
                </form>
            </p>

        </div>
    </div>

    <script>
        var modals = ["about",  "settings", "download"];
            function make_modal(val){
                eval("var modal_" + val + " = document.getElementById(\"" + val +"\");");
                eval("var btn_" + val + " = document.getElementById(\"btn_" + val +"\");");
                // When the user clicks the button, open the modal
                eval("btn_" + val + ".onclick = function() { " + val + ".style.display = \"block\"; }");
                eval("close_btn_" + val + ".onclick = function() { modal_" + val + ".style.display = \"none\"; }");
            }
            modals.forEach(make_modal);
    </script>

    <script>
        function showdiv() {
          document.getElementById("hidden").style.display="block"
        }
    </script>

    <script>
        function showLastTab(tabToShow) {
          // document.getElementById("hidden").style.display="block"
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
            console.log('In showLastTab(), tabToShow=' + tabToShow);
            document.getElementById(tabToShow).style.display="block"
        }
    </script>

    <script>
        {% if last_tab_name_clicked %}
              window.onload = showLastTab('{{ last_tab_name_clicked }}')
            {% endif %}
    </script>
</body>

</html>
