<!DOCTYPE html>

<html>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
          $('a#process_input').bind('click', function() {
            $.post('/', {

              eval_unit_size: $('input[name="eval_unit_size"]').val(),
              seed: $('input[name="seed"]').val(),

            }, function(data) {
              $('#result').text(data.result);
            });
            return false;
          });
        });
    </script>
</head>

  <form>



  <!-- File Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="system_file">System File:</label>
    <div class="col-md-4">
      <input id="system_file" name="system_file" class="input-file" type="file">
    </div>
  </div>
  <br>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="eval_unit_size">Evaluation Unit Size:</label>
    <div class="col-md-4">
    <input id="eval_unit_size" name="eval_unit_size" type="number" placeholder="1" class="form-control input-md" required=True>
    <span class="help-block">This should be a whole number between 1 and the number of data points.</span>
    </div>
  </div>
  <br>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="target_statistic">Target Statistic:</label>
    <div class="col-md-4">

        <input type="radio" name="target_statistic" id="mean" value=mean>
        Mean

        <input type="radio" name="target_statistic" id="median" value=median>
        Median

    </div>
  </div>
  <br>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="seed">Random Seed:</label>
    <div class="col-md-4">
    <input id="seed" name="seed" type="number" placeholder="3.33" class="form-control input-md" required=True>
    <span class="help-block">If you would like to provide a (real number) seed number, enter it here. Otherwise, we will shuffle.</span>
    </div>
  </div>
  <br>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="submit"></label>
    <div class="col-md-4">
      <a href=# id=process_input><button class='btn btn-default' onclick=
    "show_image({{ hist_score1 }})">Submit</button></a>
    </div>
  </div>


  </form>



</body>

<style>

.hiddendiv{
display:none;
}

.clicker:focus + .hiddendiv{
display:block;
}


</style>

<script>
function showdiv() {
  document.getElementById("hidden").style.display="block"
}
</script>


<div>
<div class="hiddendiv" id = "hidden">
  <h1 id=result align='center'></h1>
  <img src="{{ hist_score1 }}">
  <img src="{{ hist_score2 }}">
</div>

<button class='btn btn-default' onclick = "showdiv()">Show Graphics</button></a>



</html>
